@using Microsoft.AspNetCore.Identity
@using SportEventManagementSystem.Models
@using SportEventManagementSystem.Controllers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && QueryController.GetCurrentUserAsync(UserManager,User) != null)
{ 
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @QueryController.GetCurrentUserAsync(UserManager,User).details.FirstName @QueryController.GetCurrentUserAsync(UserManager,User).details.LastName!</a>
            </li>
            <li>
               <a asp-controller="Account" asp-action="Logout">Log out</a>
            </li>
        </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
