@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
@if ((string)@ViewData["error"] == "")
{
    <h2 class="text-danger">Page not found.</h2>
}
else
{
    <h2 class="text-danger">@ViewData["error"]</h2>
}
