body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*** Customised CSS files ***/

/* Set widths on the form inputs 100% wide override the original 280px*/
input,
select,
textarea {
    max-width: 100%;
}

/*** Apply limit 280px for the input field for register and login page for tablet and desktop ***/
@media screen and (min-width: 480px) {
    .limitwidth {
        max-width: 350px;
    }
}

/* Set widths on the form inputs for mobile */
@media screen and (max-width: 480px) {

    input, select, textarea {
        width: 80%;
    }
}


/*** Avoid overlap by the fixed top navbar ***/
body {
    margin-top: 35px;
}

/* Carousel image*/
.img-responsive {
    width: 100%;
    max-height: 400px;
}

/* Fix the height consistance with form-control*/
select {
    padding: 6px;
    height: 34px;
}

.label-info {
    background-color: #286090;
}

/*** Event Page ***/
.panel-body h4 {
    background-color: #26739d;
    color: white;
    padding: 5px;
}

event-separator {
    border: 1px solid lightBlue;
}

.event-listing {
    width: 100%;
}

.error-message {
    text-align: center;
}

/*** Event Detail Page ***/
.list-group li:nth-child(odd) {
    background-color: cornflowerblue;
}

.panel-heading {
    font-size: 2em;
}

.event-list-title-font li:nth-child(odd) {
    font-weight: bold;
    font-size: 1.5em;
    background-color: lightblue;
}



/*** Create Event Page ***/
textarea {
    padding-left: 12px;
}

.event-description {
    width: 100%;
}

.create-img {
    width: 100%;
}

.separater-Line {
    height: 2px;
    margin: 9px 0;
    /*overflow: hidden;*/
    background-color: #808080;
}

.compbtn-bottom {
    margin-bottom: 15px;
}

/*** Input Validation ***/
/*** Border alert for retyping required field ***/
.input-validation-error {
    border-color: red;
    font-weight: bold;
}
